<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tungmr.hintfoodanddrinks">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.DetailMeal" />
        <activity android:name=".activities.AdminViewAMeal" />
        <activity android:name=".activities.AdminViewMeal" />
        <activity android:name=".activities.AddMealActivity" />
        <activity android:name=".activities.AdminActivity" />
        <activity android:name=".activities.MealActivity" />
        <activity android:name=".activities.ChangePassword" />
        <activity
            android:name=".activities.SignUpActivity"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/HiddenTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>